.as {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 40px;
    color: azure;
    font-size: 50px;
}



.ok {
    color: rgb(12, 43, 102);


}

section {
    display: flex;
    padding: 30px;
}

.half {
    width: 50%;
}

.ac {
    width: 50%;
}

#ac img {
    height: 700px;
    width: 60%;
    padding-left: 319px;
}

h3 {
    padding left: 40px;
    padding top: 30px;
    padding right: 40px;


}

.as {
    padding-left: 40px;

}

h2 {
    padding-top: 0px;
}

p {
    padding: 10pxpx 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(cornflowerblue, darkblue);
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 7px;
    color: azure;

}

.top {
    background-image: url(images/TND89w1.png);
    background-repeat: repeat;
}

body {
    margin: 0;
}

.half {
    font-family: 'Fira Sans', sans-serif;
    color: antiquewhite;
    padding: 40px;

}

#a {
    font-size: 50px;
}

#b {
    color: darkblue;
}