.as {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 40px;
}



.ok {
    color: midnightblue;

}

section {
    display: flex;
    padding: 30px;
}

.ab {
    width: 50%;
}

.ac {
    width: 50%;
}

.ac img {
    width: 50%;
}

h3 {
    padding: 40px;
}

.as {
    padding-left: 40px;

}

h2 {
    padding-top: 0px;
}