.as {
    font-family: 'Fira Sans', sans-serif;
    padding-left: 40px;
}



.ok {
    color: cornflowerblue;

}

section {
    display: flex;
    padding: 30px;
}

.ab {
    width: 50%;
}

.ac {
    width: 50%;
}

.ac img {
    width: 50%;
    padding-left: 200px;
}

h3 {
    padding left: 40px;
    padding top: 30px;
    padding right: 40px;

}

.as {
    padding-left: 40px;

}

h2 {
    padding-top: 0px;
}

p {
    padding: 10pxpx 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(cornflowerblue, blue);
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 7px;
    color: azure;
}